.result-row {
    width: 100%;
    margin-bottom: 10px;
}

.result-row button {
    float: right;
    padding: 3px 10px;
    margin-left: 10px;
    margin-top: 10px;
}

.result-row h4 {
    font-size: 1.5em;
    margin-top: 10px;
    /* margin-bottom: 20px; */
}

.result-row h5 {
    font-size: 1.1em;
    /* margin-top: 10px; */
    /* margin-bottom: 20px; */
}

.result-row h6 {
    font-size: 1.0em;
    font-style: italic;
    /* margin-top: 10px; */
    /* margin-bottom: 20px; */
}

.result-row img {
    box-shadow: initial;
    height: initial;
    width: initial;
    margin: 0 0;
    width: 100%;
    /* padding-right: 40px; */
}

.result-row p {
    display: inline-block;
    /* position: relative; */
    /* top: -60px; */
    /* position: relative; */
    /* float: left; */
}

.result-row img, .result-row p {
    padding-top: 15px;
}